<form action="/favourites" method="POST" class="flex-1">
  <button type="submit" class="w-full bg-white border-2 border-red-500 text-red-500 py-2 px-4 rounded-md hover:bg-red-50 transition duration-300 text-center flex items-center justify-center gap-2">
    <i class="fas fa-heart"></i>
    Add to Favourites
  </button>
  <input type="hidden" name="id" value="<%= home.id %>">
</form>